@{
    ViewBag.Title = "Start";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Welcome to the new super fantastic district data validator.  Upload a file and get results ... Have fun!
            </p>
		</div>
	</section>
}

<form action="home/test" method="post" enctype="multipart/form-data">
	<h1>Validation</h1>
	<p>
		<label for="file">Tests to Run:</label>
		@Html.DropDownList("testname",(IEnumerable<SelectListItem>)ViewBag.Tests)
	</p>
	<p>
  		<label for="file">Filename:</label>
		<input type="file" name="file" id="file" />
		<input type="submit" />
	</p>
</form>

<form action="home/diff" method="post" enctype="multipart/form-data">
	<h1>File Differences</h1>
	<p>
  		<label for="file">Filename 1:</label>
		<input type="file" name="files" id="file1" />
		<br />

		<label for="file">Filename 2:</label>
		<input type="file" name="files" id="file2" />

		<input type="submit" />
	</p>
</form>
