@model IEnumerable<cde_web.Models.Result>

@{
    ViewBag.Title = "Test";
}

<h2>Validation Results</h2>

@foreach (var item in Model) {
<p>
	<h1>@item.Title</h1><br />
	@foreach(var error in item.Errors) {
		@error <br />
	}
</p>
}